@color: #f7f7f7;
@theme: #212129;
@auxiliary: #ececec;
@text: #949494;
//@theme: #5ee7df;
//@auxiliary: #b490ca;

@import "Fonts";
@import "Reset";
@import "Animate";
@import "Views";
@import "Components";
